@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Below are some repeated styles defined in the tailwind preferred way of applying classes */

.md-heading {
  @apply text-sm font-bold uppercase tracking-wide flex flex-row items-center gap-1 text-slate-500;
}

.primary-button {
  @apply rounded-full bg-indigo-600 py-2 px-4 text-sm font-semibold text-white hover:bg-indigo-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-300/50 active:bg-indigo-500 cursor-pointer;
}

.input {
  @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6;
}

.label {
  @apply font-semibold text-slate-600;
}
